<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sms_service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <sms_service.Properties.Settings>
            <setting name="sms_service_smsservice_CorporateSMS" serializeAs="String">
                <value>http://cbs.zong.com.pk/ReachCWS/CorporateSMS.svc</value>
            </setting>
        </sms_service.Properties.Settings>
    </applicationSettings>
  <appSettings>

    <add key="susername" value="root"/>
    <add key="spassword" value="trees"/>
   
    <add key="sserver" value="localhost"/>
  
    <add key="sdb" value="bc_lims"/>
    <add key="DateFormat" value="%d/%m/%Y"/>
    <add key="DateTimeFormat" value="%d/%m/%Y %h:%i:%s %p"/>
    <add key="TimerSettingsinms" value="100000"/>
  </appSettings>
</configuration>